@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

:root {
    --primary-color: #F97316;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    max-width: 1300px;
    /* 設定最大寬度，可根據需要調整 */

}

.row {
    display: flex;
}

.col-md-2 {
    max-width: 20%;
    /* 調整 col-md-2 的最大寬度，可根據需要調整百分比 */
    box-sizing: border-box;
    /* 避免寬度超過限制 */
}

ul.list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 列 */
    gap: 0;
    /* 設定列與列之間的間隙為0 */
}

li {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.custom-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    /* 加入 margin-bottom 使文字和圖片有一點間隔 */
}

/* 右側樣式 */
.col-md-6+.col-md-6 {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 在橫向上置中 */
    align-items: center;
    /* 在垂直方向上置中 */
    text-align: center;
    /* 文字置中 */
}

.scrollable-container {
    max-height: 600px;
    /* 設定最大高度，超過部分將顯示滾動條 */
    overflow-y: auto;
    /* 垂直方向上出現滾動條 */
    max-width: 100%;
}

/* 滾動條樣式 */
.scrollable-container::-webkit-scrollbar {
    width: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #e7e5e5;
    border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar-track {
    background-color: #f8f9fa;
}

.map {
    height: 750px;
    width: auto;
}

.col-md-2 {
    max-width: 100%;
    /* 調整 col-md-2 的寬度，保留 padding 15px */
}

.map-col {
    align-items: center;
}

/* 懸停時的樣式 */

li:hover .custom-img {
    border: 4px solid var(--primary-color);
    /* 圖片懸停時的邊框顏色 */
}

li:hover p {
    color: var(--primary-color);
    /* 文字懸停時的顏色 */
    text-decoration: none;
    /* 取消文字的底線 */
}

a:hover {
    text-decoration: none !important;
}

.logo {
    height: 50px;
    width: auto;
}


.second-nav {
    border-top: 1px solid #e5e5e5;
    /* 淺色實線上邊框 */
    border-bottom: 1px solid #e5e5e5;
    /* 淺色實線下邊框 */

}

#subNavbar>ul {
    width: 80vw;
    margin: auto;
    padding: 8px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#subNavbar>ul>li {
    padding: 2px;
}

#subNavbar>ul>li>div {
    cursor: pointer;
    font-size: 20px;
}

#subNavbar>ul>li>div:hover {
    color: var(--primary-color);
}

#subNavbar>ul>li>div.nav-active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.main {
    padding-top: 20px;
}

.result-title {
    width: 100%;
    color: black;
    font-size: 24px;
    padding-bottom: 4px;
    border-bottom: 2px solid #e5e5e5;
}

.result-content {
    width: 100%;
    max-height: 640px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.result-content::-webkit-scrollbar {
    width: 8px;
}

.result-content::-webkit-scrollbar-thumb {
    background-color: #e7e5e5;
    border-radius: 4px;
}

.result-content::-webkit-scrollbar-track {
    background-color: #f8f9fa;
}

.result-row {
    background: #f8f9fa;
    margin-bottom: 2px;
}

.result-row .row .div {
    overflow-wrap: break-word;
}

.data-title {
    font-weight: 600;
}

.data-comments {
    padding: 4px 0;
    border-top: 1px solid #ADADAD;
}

.add-btn {
    padding: 4px 20px;
    color: white;
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
}

.region-text {
    font-size: large;
}

.region-link {
    cursor: pointer;
}

.region-link.active .custom-img {
    border: 4px solid var(--primary-color);
}

.region-link.active p {
    color: var(--primary-color);
    text-decoration: none;
}