<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <a href="/init/food">initialized food table</a>
  </div>
  <div>
    <a href="/init/drink">initialized drink table</a>
  </div>
  <div>
    <a href="/init/bar">initialized bar table</a>
  </div>
  <div>
    <a href="/init/sight">initialized sight table</a>
  </div>
  <div>
    <a href="/init/hotel">initialized hotel table</a>
  </div>
  <div>
    <a href="/init/restaurant">initialized restaurant table</a>
  </div>
  <div>
    <a href="/init/food_mongo">initialized food_mongo table</a>
  </div>
</body>

</html>